version: 2.1

jobs:
  build:
    docker:
      - image: "circleci/node:9.6.1"
    steps:
      - run: echo 'hello world'
  build-pr:
    docker:
      - image: "circleci/node:9.6.1"
    steps:
      - run: echo 'this should not have built!!'


workflows:
  test:
    jobs:
      - build
      - build-pr:
        filters:
          branches:
            # Forked pull requests have CIRCLE_BRANCH set to pull/XXX
            ignore: /pull\/[0-9]+/